.vscode/**
.vscodeignore
.gitignore
.eslintrc.json
test/**
*.test.js
*.test.ts
*.spec.js
*.spec.ts
node_modules/**
src/**
.git/**
.github/**
*.md
!README.md
package-lock.json
tsconfig.json
.vscode-test/**
esbuild.config.js
!assets/**
!dist/**